.app-toolbar {
  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      border-radius: 25px;

      .button-text {
        margin-left: 8px;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav-links .button-text {
    display: none;
  }
}